@import '/node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: #f8f9fa;

    main {
        min-height: 100vh;
        .profileSection1 {
            justify-content: baseline;
            gap: 1.5rem;
            flex-wrap: wrap;
        }
        p, .welcome {
            margin: 1rem;
            text-align: center;
        }
        .singleListingDetails{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 20rem;
            }
        }
        .singleListingContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
    }

    .footer {
        text-align: center;
    }
}

.profileBody {
    .container1 {
        display: flex;
        margin: 2rem;
        justify-content: space-between;
    }
    .profileContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: left;
    }
    .searchField {
        width: 50%;
        form {
            gap: 1rem;
        }
    }
    #avatar {
        width: 100px;
        border-radius: 50%;
    }
    .container2 {
        display: flex;
        margin: 3rem;
    }
}

 
.search {
        margin: 1rem;
        width: auto;
    }

.listingContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    img {
        height: 25rem;
    }

}
